
    /* Making the sidebar sticky so it stays on screen when scrolling */
    @media (min-width: 768px) {
      aside {
        position: sticky;
        top: var(--pico-spacing);
        height: fit-content;
      }
    }
    @media (max-width: 768px) {
      aside {
		  
        width: 300px;
        height: fit-content;
      }
    }
.color-blue {
	color: blue;
}
